@font-face {
	font-family: 'Silkscreen';
	src: url('fonts/Silkscreen.eot');
	src: url('fonts/Silkscreen.eot?#iefix') format('embedded-opentype'),
		url('fonts/Silkscreen.woff2') format('woff2'),
		url('fonts/Silkscreen.woff') format('woff'),
		url('fonts/Silkscreen.ttf') format('truetype'),
		url('fonts/Silkscreen.svg#Silkscreen') format('svg');
	font-weight: normal;
	font-style: normal;
}
